## [كود لإهمال ملفات الـ Build والملفات المؤقتة]
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

## [كود لإهمال ملفات الإعدادات المحلية والحساسة]
appsettings.json
appsettings.Development.json
RestaurantSystem.Api/appsettings.json
RestaurantSystem.Api/appsettings.json
RestaurantSystem.Api/appsettings.json
